APP_NAME=Exam System
APP_VERSION=1.0.0
NODE_ENV=development
PORT=3000

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/exam_system"

JWT_SECRET=exv7dhue83hfdu47hj48dnh8rhj48rh74ud83h

JWT_EXPIRES_IN=1d

BCRYPT_SALT_ROUNDS=10